/* Author Style Index*/
/* 1. Typography*/
/* 2. Navigation*/
/* 3. Image Holder Styles*/
/* 4. Footer styles */
/* 5. Blog styles */

/* 1. Typography*/
/* ----------------------------------------------------------------------------------------*/

@mixin image-border {
	border: solid 5px lighten($light-gray,3);
	@include breakpoint(medium) {
		border: solid 10px lighten($light-gray,3);
	}
}

$core-accent: #9ed670;
$core-font-size: 1.15em;
$border-radius: 3px;


.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

/*making bold not show, we want the tag for SEO but don't want the added style*/
b, strong {
	font-weight: normal; 
}

h1, h2, h3, h4, h5 {
	font-family: "mr-eaves-xl-modern", "Helvetica", "Montserrat", "Tahoma", "Geneva";
	font-weight: 700;
}

.heading h2 {
	letter-spacing: .075rem;
	font-weight: 400;
	@include breakpoint(medium) {
		font-weight: 100;
	}
	border-bottom: 2px solid $dark-gray;
	margin-bottom: 1rem;
}

h2 {
	line-height: 1;
	margin-bottom: 0rem;
	padding-bottom: 1rem;
}

@include breakpoint(medium){
	h2 {
		line-height: 2.5rem;
	}
}

div.grid-x p {
	padding: 1.5rem;
	margin-bottom: 0rem;
	line-height: 1.8rem;
	font-size: 1.1rem;
}

p a {
	color: #3C5D44;
	&:hover {
		color: lighten(get-color(warning), 20%);
		transition: color 0.4s ease-out;
	}
	transition: color 0.4s ease-out;
}

.grid-x {
/*fixes double padding with two paragraphs*/
	p + p {
		padding-top: 0rem;
	} 
}

/* line and margin don't look good @ small breakpoint*/
@include breakpoint(medium) {
	.quote {
		border-top: 2px solid $dark-gray;
		margin-top: 1.5rem;
	}
}

.maintenance-list {
	padding: 0rem 1rem;
	li {
		line-height: 1.5;
		font-size: 1.1rem;
	}
}

.button-contact {
	margin-top: 2rem;
	padding: 2rem 3rem;
	letter-spacing: 0.075rem;
	font-size: 1.5rem;
	background-color: $white;
	color: get-color(primary);
	border: 2px solid get-color(primary);
	&-about {
		margin-bottom: 2rem;
	}
	&-contact {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4rem;
		@include breakpoint(medium) {
			margin-bottom: 1rem;
		}
	}
	&-design {
		margin-top: 1rem;
		margin-bottom: 2rem;
	}
	&-gardening {
		margin-bottom: 2rem;
	}
}

.job-listing {
	h2 {
		padding-bottom: 0rem;
	}
	&-2 h2 {
		padding-top: 1rem;
	}
}
/* 2. Navigation*/
/* ----------------------------------------------------------------------------------------*/


.nav-links a {
	letter-spacing: .1rem;
}

/*style for sticky scroll up*/
.back-to-top {
	background: none;
	margin: 0;
	position: fixed;
	border-radius: 50%;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	z-index: 100;
	display: none;
	text-decoration: none;
	color: $white;
	text-align: center;    
	vertical-align: middle;
	background-color: get-color(warning);
	transition: all 0.4s ease;
	&:hover {
		background-color: lighten(get-color(warning),35%);
		transition: all 0.4s ease;
	}
	i {
		padding: 0.5rem;
		font-size: 3.25rem;
		transition: all 0.4s ease;
		-webkit-transform: translateY(-.75rem);
		        transform: translateY(-.75rem);
		&:hover {
			color: lighten(get-color(warning),0%);
			transition: all 0.4s ease;
		}
	}
}

/* to get brand logo to center we set the two side widths to an identical vw value. needs to be limited*/
/* when the main container reaches the global width breakpoint, otherwise the innerlogo will contract to */
/* accommodate the make room the padding for the links is adjusted throughout to fit the viewport */
/* and for aesthetics */
.nav-side {
	font-family: "mr-eaves-xl-modern", "Helvetica", "Montserrat", "Tahoma", "Geneva";
	font-weight: 700;
	letter-spacing: 0.125rem;
	width: 20vw; /*width is smaller as the links are listed in a column*/
	

	li {
		font-size: 0.9rem;
	}
	a {
		padding: 0.7rem 0.25rem;
	}
	/*increase padding at 450px, links are still in a column but look nicer moved over*/
	@include breakpoint(450px) {
		a {
			padding: 0.7rem .75rem;
		}
	}
	@include breakpoint(medium) {
		width: 35vw; /*need more space for links as they are listed in row*/
		li {
			font-size: 1.1rem;
		}	
	}
	@include breakpoint($global-width) {
		width: 0.35 * $global-width;
	}

	.menu {
		flex-direction: column; /*could also use nav-left and nav-right as selector*/
		@include breakpoint(750px) {
			flex-direction: row;
			a { 
				padding: 0.7rem .25rem;
			}
		}
		@include breakpoint(800px) {
			a { 
				padding: 0.7rem .75rem;
			}
		}
	}
}

.nav-center-logo {
	a {
		padding: 0.7rem 0.25rem;
	}
	img {
		transition: opacity 0.4s ease-in;
		&:hover {
			opacity: 0.7;
		}
	}
	@include breakpoint(medium) {
		a { 
			padding: 0.7rem 1.75rem;
		}
	}
	@include breakpoint(690) {
		a { 
			padding: 0.7rem 2.25rem;
		}
	}
}



/*by making the two outer children of this wrapper the same size, the inner child nav-center-logo is centered*/
.menu-large-screen {
	justify-content: center;
	flex-direction: row;
	border-bottom: 2px solid $dark-gray;
	margin-bottom: 2rem;
	border-top: 2px solid $dark-gray;
	margin-top: 2rem;
}

.menu img {
	height: 4.5rem;
}

/*default foundation style makes links wrap and stack unnecessarily. they all fit with the media queries*/
.menu {
	flex-wrap: nowrap;
}

/*adds nice top/bottom padding to menu once the links go into a column*/
ul.menu-large-screen {
	@include breakpoint(medium) {
		padding: 1.5rem 0rem;
	}
}

/*adds a frame and zoomed out effect when the site is viewed on a large viewport*/
@include breakpoint(large) {
	.outer-box-frame {
		border: 2px solid $dark-gray;
		margin: 5rem auto; /*the auto for the left/right keeps the page centered*/
		padding: 4rem;
	}
}

/*using this wrapper as a selector lets all links turn light on mouse over*/
.menu-large-screen {
	transition: color 0.4s ease-in;
	&:hover {
		a {
			color: lighten(get-color(primary),20);
		}
	}
}

.menu a {
	color: darken(get-color(primary),0);
	transition: color 0.2s ease-in;

	&:hover {
		color: darken(get-color(primary),0);
	}
}

a.is-active {
	color: lighten(get-color(primary),20);
/* underline looks cool in row but not column so only applying for medium and up*/
	@include breakpoint(medium){
		border-bottom: 2px solid $medium-gray;
		margin-bottom: -2px; 					/*offset the added border*/
	}
}

/* 2. Overlay Style Helpers*/
/* ----------------------------------------------------------------------------------------*/
.hero {
	position: relative;
}



@mixin overlay {
	position:absolute;
	z-index:0;
	h1, h2 {
		letter-spacing: 0.25rem;
	}
}

.hero-text {
	@include overlay;
	color: $white;
	z-index: 2;
}

.hero-image {
	overflow: visible;
	z-index:-1;
}

.hero .button {
	letter-spacing: 0.075rem;
	width: 8rem;
	height: 3rem;
	color: $white;
	border: 2px solid $white;
	outline: none;
	background-color: transparent;
    transition: border-color 0.4s ease-out,
      color 0.4s ease-out;
	&:hover {
		color: lighten(get-color(warning),30%);
		border-color: lighten(get-color(warning),30%)
	}
}

.hero-text-index {
	h1 {
		font-size: 6.5vw;
		-webkit-transform: translateY(8vw);
		        transform: translateY(8vw);
	}
	a.button {
		-webkit-transform: translateY(16vw);
		        transform: translateY(16vw);
		&:nth-child(3){
			margin-left: 2vw;
		}
		line-height: 1.25;
	}
	@include breakpoint(550px) {
		a.button {
			-webkit-transform: translateY(22vw);
			        transform: translateY(22vw);
			&:nth-child(3){
				margin-left: 10vw;
				}
		}
	}
	@include breakpoint(960px) {
		h1 {
			font-size: rem-calc(0.065*960);
			-webkit-transform: translateY(rem-calc(0.08*960));
			        transform: translateY(rem-calc(0.08*960));
		}
		a.button {
			-webkit-transform: translateY(rem-calc(.22*960));
			        transform: translateY(rem-calc(.22*960));
			&:nth-child(3){
				margin-left: rem-calc(.10*960);
			}
		}
	}
}

/*in case hero needs a 1 rem bottom margin*/
.hero-bottom-margin {
	margin-bottom: 1rem;
}

.hero-text-single-title {
	h1 {
		font-size: 9vw;
        -webkit-transform: translateY(5.25vw);
                transform: translateY(5.25vw);
		@include breakpoint(960px){
			font-size: rem-calc(.09*960);
	        -webkit-transform: translateY(rem-calc(0.0525*960));
	                transform: translateY(rem-calc(0.0525*960));
		}
	}
}


/* 3. Image Holder Styles*/
/* ----------------------------------------------------------------------------------------*/

.picture-wrapper {
	border: none;
	margin: 0rem 1.75rem 0rem 1.75rem;
	/*top and bottom margins look good at 0 on small viewports but are too close to elements on larger VP*/
	@include breakpoint(medium) {
		margin: 1rem 1.25rem 0rem 1.25rem;
	}
	img {
		@include image-border;
		width: 100vw; /*fix for warped images on small viewports*/
		padding: 0rem 0rem;
	}
	.caption {
		text-align: center;
		margin-top: 0.25rem;
	}
	span {
		font-family: "mr-eaves-xl-modern", "Helvetica", "Montserrat", "Tahoma", "Geneva";
		weight: 100;
		letter-spacing: 0.02rem;
	}
}

.picture-wrapper-in-line-with-text {
	margin-bottom: 0rem;
	border: none;
	margin: 0rem 1.75rem;
	/*top and bottom margins look good at 0 on small viewports but are too close to elements on larger VP*/
	@include breakpoint(medium) {
		margin: 1.75rem 1.25rem 0rem 1.25rem;
	}
	img {
		@include image-border;
		width: 100vw; /*fix for warped images on small viewports*/
		padding: 0rem 0rem;
	}
	.caption {
		text-align: center;
		margin-top: 0.25rem;
	}
	span {
		font-family: "mr-eaves-xl-modern", "Helvetica", "Montserrat", "Tahoma", "Geneva";
		weight: 100;
		letter-spacing: 0.02rem;
	}
}

.landscape {
	@include breakpoint(large){
		margin: 0;
	}
}


.grid-x {
	 /*adds margin between adjacent images on small viewport	*/
	@include breakpoint(small only) {
		.next-door-image + .next-door-image {
			margin-top: 1.5rem;
		}
	}
	/*adjusts the padding between adjacent images on medium viewport so they display closer to the center*/
	@include breakpoint(medium only) {
		.next-door-image:first-child {
			padding-left: 2rem;
		}
		.next-door-image + .next-door-image {
			padding-right: 2rem;
		}
	}
}

/* 4. Footer styles */
/* -----------------------------------------------------------------------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  @include breakpoint(small only) {
  	margin-top: 1.5rem;
  }
}

.social-media-wrapper {
	margin: 1rem 0rem;
	background-color: $white;
	flex-direction: row;
	color: #4d7358;
	padding: 0rem .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-item {
  margin-left: 1rem;
}

.social-item img {
  max-height: 30px;
}

.phone-number {
  font-size: 1em;
  color: #2f4021;
  text-align: center;
  margin-left: 1rem;
  margin-right: auto;
}

.BellinghamFlag img {
  height: 1.75rem;
}

/* Media query to make phone number smaller on larger screens */
@media (min-width: 30rem) {
  .phone-number {
    font-size: 1.1rem;
  }
}

/*color for madrona logo triangles*/
.st0
{
	fill: get-color(alert);
}

.social-media-wrapper a {
	transition: opacity 0.4s ease-in;
	&:hover {
		opacity: 0.8;
	}
}

.madrona-powered {
	svg {
		margin: 0 0.4rem;
		height: 1.1rem;	
        -webkit-transform: translateY(0.2rem) translateX(-0.5rem);	
                transform: translateY(0.2rem) translateX(-0.5rem);
	}
	a {
		padding-right: 0rem; /*helps center bottom graphic*/
		display: inline;
		transition: opacity 0.4s ease-in;
		&:hover {
			opacity: 0.8;
		}
	}
	transition: opacity 0.4s ease;
	padding-bottom: 0.5rem;
	@media all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm) {
		padding: 0.5rem 0rem;
	}
}

/* Wrapper and flex item syles for footer green rectangle effect */
.green-wrapper {
  display: flex;
  min-height: .8rem;
  max-height: .8rem;
  width: 100%;
  margin: 1rem 0rem;
}

.green-shade-1 {
	background-color: lighten(get-color(primary),40%);
  flex: 1;
}

.green-shade-2 {
  background-color: lighten(get-color(primary),30%);
  flex: 1;
}

.green-shade-3 {
  background-color: lighten(get-color(primary),20%);
  flex: 1;
}

.green-shade-4 {
  background-color: lighten(get-color(primary),10%);
  flex: 1;
}

.green-shade-5 {
  background-color: get-color(primary);
  flex: 1;
}


/* 5. Blog styles */
/*------------------------------------------------------------*/

.blog-image {
	@include image-border;
	img {
		width: 40vw;
		@include breakpoint(medium) {
			width: 13rem;
		}
		transition: opacity 0.2s ease-in;
		&:hover {
			opacity: 0.9;
		}
	}
}

.blog-entry-date {
	font-family: "mr-eaves-xl-modern", "Helvetica", "Montserrat", "Tahoma", "Geneva";
	font-weight: 400;
	margin: 0.25rem 0rem 0.5rem 0rem;
	letter-spacing: 0.075rem;
}

.blog-entry-title {
	margin: 0rem 4rem 0.25rem 4rem;
	@include breakpoint(medium) {
		margin: 0rem 6rem 0.25rem 6rem;
	}
	a {
		transition: color 0.2s ease-in;
		&:hover {
			color: lighten(get-color(primary),20);
		}
	}
}

.blog-entry-excerpt {
	margin: 0rem 2rem 1rem 2rem;
	@include breakpoint(400) {
		margin: 0rem 4rem 1rem 4rem;
	}
	@include breakpoint(medium) {
		margin: 0rem 6rem 1rem 6rem;
	}
	
}

.blog-entry {
	margin: 1rem 0rem;

}

/* 6. Lazy Loading Styles*/

.loader-hero {
	position:relative;
	overflow: hidden;
	width: auto;
	@include image-border;
}

.loader-hero object {
	position: absolute;
}

.loader-hero img, .loader-hero object {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}

/* border box doesn't outline hero properly if the image-border mixin is in object*/
/* if mixin is in .loader object the border for non-square objects has a gap between image at bottom*/
/* so we have a seperate loader for heros*/

.loader {
	position:relative;
	overflow: hidden;
	width: auto;
}

.loader object {
	position: absolute;
	@include image-border;
}

.loader img, .loader object {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}



object {
  position: relative;
  float: left;
  display: block;
  
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1000px;
    height: 1000px;
    content: '';
    background: #efefef;
  }
}

.frozen {

  -webkit-filter: blur(8px);
          filter: blur(8px);
	-webkit-transform: scale(1.04);
	        transform: scale(1.04);
  -webkit-animation: 0.1s ease-in 0.4s 1 forwards fade;
          animation: 0.1s ease-in 0.4s 1 forwards fade;
  width: 100%;
}

@-webkit-keyframes fade {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@keyframes fade {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

/* 7. Form Styles */
/*----------------------------------------------------------------------------------------------------------------*/

/*takes away default 1rem padding so the header image is full width*/
#consultation-reveal, {
	padding: 0rem;
	border: 0rem;
}

.reveal-frame {
	@include breakpoint(medium) {	
		&-inner {
			/*border: 2px solid $dark-gray;*/
		}
		&-outer {
			/*padding: 4rem;*/
		}
	}
}

/*returns default 1rem padding to rest of the reveal box*/
.consult .grid-y, .grid-y {
	padding: 4rem;
	padding-top: 3rem;
}

.hero-consult {
	position: relative;
	@include breakpoint(medium) {
	/*	padding: 0rem 4rem;*/
	}
}

.hero-consult-text
{
	text-align: center;
	position: absolute;
	z-index: 0;
	width: 100%;
	color: $white;
	h1 {
		font-size: 11vw;
        -webkit-transform: translateY(-18vw);
                transform: translateY(-18vw);
		@include breakpoint(420px) {
			font-size: 3rem;
            -webkit-transform: translateY(-5rem);
                    transform: translateY(-5rem);
		}
	}
}

.close-button {
	display: flex;
	margin-left: auto; /*right aligns flex displayed item*/
	font-size: 3rem;
	padding-top: 1rem;
	padding-right: 2rem;
	font-weight: 600;
	color: $dark-gray;
}

.button-contact-submit {
	margin-top: 2rem;
	margin-bottom: -.5rem;
	letter-spacing: 0.075rem;
	background-color: get-color(warning);
	font-size: 1.5rem;
}

.hero-consult-image {
	margin-top: 3rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
		@include image-border;
	z-index: -1;

}

.details-text {
	height: 7rem;
}

#mce-PHONE-area {
	width: 3rem;
}

#mce-PHONE-detail1, #mce-PHONE-detail2 {
	width: 4rem;
}