/*Author Style Index*/
/* 1. Typography*/
/* 2. Navigation*/
/* 3. Card Styles*/
/* 4. Footer styles */
/* 5. Blog styles */

/* 1. Typography*/
/* ----------------------------------------------------------------------------------------*/

/*making bold not show, we want the tag for SEO but don't want the added style*/

$core-accent: #9ed670;
$core-font-size: 1.15em;
$border-radius: 3px;

b, strong {
	font-weight: normal; 
}

h1, h2, h3, h4, h5 {
	font-family: "mr-eaves-xl-modern", "Helvetica", "Montserrat", "Tahoma", "Geneva";
}

h2 {
	line-height: 1.5rem;
	margin-bottom: 0rem;
}

@include breakpoint(medium){
	h2 {
		line-height: 2.5rem;
	}
}

div.grid-x p {
	padding: 1.5rem;
	margin-bottom: 0rem;
	line-height: 1.8rem;
	font-size: 1.1rem;
}

p a {
	color: get-color(warning);
	&:hover {
		color: lighten(get-color(warning), 20%);
		transition: color 0.4s ease-out;
	}
	transition: color 0.4s ease-out;
}

/* .two-paragraphs and :first-child pseudo-class prevents a double padding when there are two paragraphs*/
div.two-paragraphs p:first-child {
	padding-bottom: 0rem;
}

.grid-x p + p {
	padding-top: 0rem;
}

/* 2. Navigation*/
/* ----------------------------------------------------------------------------------------*/

.logo-image img{
	height: 6rem;
}

.nav-links {
	a {
		color: $black;
		transition: all 0.4s ease;
	}
	a:hover {
		color: lighten(get-color(warning), 0%);
	transition: all 0.4s ease;
	}
}

@include breakpoint(medium) {
	.logo-image img{
		height: 4rem;
	}	
	.nav-links {
		a {
			color: $white;
			text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
	            0px 18px 23px rgba(0,0,0,0.1);
			transition: all 0.4s ease;
		}
		a:hover {
			color: lighten(get-color(warning), 40%);
			transition: all 0.4s ease;
		}
		background-color: get-color(secondary);
		.menu {
			height: 3.75rem;
		}

	}
}

nav span {
	display: flex 1 1 0;
}

.nav-links a {
	letter-spacing: .1rem;
}

/*style for sticky scroll up*/
.back-to-top {
	background: none;
	margin: 0;
	position: fixed;
	border-radius: 50%;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	z-index: 100;
	display: none;
	text-decoration: none;
	color: $white;
	text-align: center;    
	vertical-align: middle;
	background-color: get-color(warning);
	transition: all 0.4s ease;
	&:hover {
		background-color: lighten(get-color(warning),35%);
		transition: all 0.4s ease;
	}
	i {
		padding: 0.5rem;
		font-size: 3.25rem;
		transition: all 0.4s ease;
		-webkit-transform: translateY(-.75rem);
		        transform: translateY(-.75rem);
		&:hover {
			color: lighten(get-color(warning),0%);
			transition: all 0.4s ease;
		}
	}
}

/* 2. Overlay Style Helpers*/
/* ----------------------------------------------------------------------------------------*/
.hero {
	position: relative;
	border: solid 1px;
}

@mixin overlay {
	position:absolute;
	z-index:0;
	h1, h2 {
		letter-spacing: 0.25rem;
	}
}

.hero-text {
	@include overlay;
	color: $white;
}

.hero-image {
	overflow: visible;
	z-index:-1;
}

.hero .button {
	width: 8rem;
	height: 3rem;
	color: $white;
	border: 2px solid $white;
	outline: none;
	background-color: transparent;
    transition: border-color 0.4s ease-out,
      color 0.4s ease-out;
	&:hover {
		color: lighten(get-color(warning),30%);
		border-color: lighten(get-color(warning),30%)
	}
}

.hero-text-index {
	h1 {
		font-size: 6.5vw;
		transform: translateY(8vw);
	}
	button {
		transform: translateY(16vw);
		&:nth-child(3){
			margin-left: 2vw;
		}
	}
	@include breakpoint(550px) {
		button {
			transform: translateY(22vw);
			&:nth-child(3){
				margin-left: 10vw;
				}
		}
	}
	@include breakpoint(960px) {
		h1 {
			font-size: rem-calc(0.065*960);
			transform: translateY(rem-calc(0.08*960));
		}
		button {
			transform: translateY(rem-calc(.22*960));
			&:nth-child(3){
				margin-left: rem-calc(.10*960);
			}
		}
	}
}

/*in case hero needs a 1 rem bottom margin*/
.hero-bottom-margin {
	margin-bottom: 1rem;
}

.hero-text-single-title {
	h1 {
		font-size: 9vw;
		transform: translateY(5.75vw);
		@include breakpoint(960px){
			font-size: rem-calc(.09*960);
			transform: translateY(rem-calc(0.0575*960));
		}
	}
}


/* 3. Card Styles*/
/* ----------------------------------------------------------------------------------------*/

.card span {
	font-style: italic;
}

.card {
	margin-bottom: 0rem;
}

.shadow {
	box-shadow: 0px 0px 3px lighten($black, 40%);
}

.bottom-shadow{
	border-bottom: 1px solid $medium-gray;
}

.bottom-border{
		border-radius: 4px;
	border-bottom-color: rgba($black, 0.45);
	border-bottom-width: 2px;
}

/* fix for warped images on small viewports*/
.card img {
	width: 100vw;
}

@media screen and (max-width: 39.9375em) {
	div.card:first-child {
		margin-bottom: 1rem;
	}
}

/* 4. Footer styles */
/* -----------------------------------------------------------------------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
}

.social-media-wrapper {
  background-color: #ffffff;
  flex-direction: row;
  color: #4d7358;
  padding: 0rem .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item {
  margin-left: 1rem;
}

.social-item img {
  max-height: 30px;
}

.phone-number {
  font-size: 1em;
  color: #2f4021;
  text-align: center;
  margin-left: 1rem;
  margin-right: auto;
}

.BellinghamFlag img {
  height: 1.75rem;
}

/* Media query to make phone number smaller on larger screens */
@media (min-width: 30rem) {
  .phone-number {
    font-size: 1.1rem;
  }
}

/*color for madrona logo triangles*/
.st0
{
	fill: get-color(alert);
}

.madrona-powered {
	svg {
		margin: 0 0.4rem;
		height: 1.1rem;	
	    -webkit-transform: translateY(0.2rem) translateX(-0.5rem);	
	            transform: translateY(0.2rem) translateX(-0.5rem);
	}
	a {
		padding-right: 0rem; //helps center bottom graphic
		display: inline;
		&:hover {
			opacity: 0.8;
			transition: opacity 0.4s ease;
		}
	}
	transition: opacity 0.4s ease;
	padding-bottom: 0.5rem;
	@media all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm) {
		padding: 0.5rem 0rem;
	}
}

/* Wrapper and flex item syles for footer green rectangle effect */
.green-wrapper {
  display: flex;
  min-height: .8rem;
  max-height: .8rem;
  width: 100%;
}

.green-shade-1 {
	background-color: lighten(get-color(primary),40%);
  flex: 1;
}

.green-shade-2 {
  background-color: lighten(get-color(primary),30%);
  flex: 1;
}

.green-shade-3 {
  background-color: lighten(get-color(primary),20%);
  flex: 1;
}

.green-shade-4 {
  background-color: lighten(get-color(primary),10%);
  flex: 1;
}

.green-shade-5 {
  background-color: get-color(primary);
  flex: 1;
}


/* 5. Blog styles */
/*------------------------------------------------------------*/

/* ==========================================================================
 Wrapper styles for main informative content 
   ========================================================================== */
.BlogMain {
    display: flex;
    flex-direction: row;
}

.BlogSidebar {
    display: none;
    margin-left: 0.5rem;
}

.BlogEntryWrapper .BlogListWrapper {
    padding: .5vw;
    display: flex;
    flex-direction: column;
}

.BlogEntryHeader {
 /*  padding: 0.5rem;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.BlogEntryTitle a:hover,
.BlogEntryTitle a:active
 {
    color: grey;
    transition: border-color 0.4s ease-in,
          color 0.4s ease-in;
}

.BlogEntryTitle a {
    color: #000000;
}

.BlogEntryTitle {
    flex: auto;
}

.BlogEntryTitle, .BlogEntryDate {
    display: flex;
    }

.BlogEntryDate {
    display: flex;
    flex: 0 1 auto;
    margin-left: auto;
    width: auto;
}

.BlogEntryDate span {
    display: block;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 110%;
}

.BlogEntryDate b {
    display: block;
    border-top: 1px solid #EEEEEE;
    font-style: none;
    text-transform: uppercase;
}

.BlogGallery {
      flex: auto; 
      width: 350px;   /* acts as a minimum width for each image */
      margin: .5vw;
      -ms-grid-row-align: center;
      align-self: center;
    }

.BlogEntryBottom .BlogGallery img { 
      width: 100%; 
      height: auto; 
    }

.BlogCategoryWrapper {
    display: inline-block;
}

.BlogCategory {
        display: inline-block;
        font-size: $core-font-size - 0.2em;
        border: 1px solid $core-accent;
        border-radius: $border-radius;
        padding: 0.1rem 0.4rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        color: $core-accent;
    }
 
.BlogEntryBottom {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 0 0.5em 0.5em 0.5em;
}

.description p {
    margin: 0;
}

.description a {
    text-align: right;
}

@media (min-width: 40rem) {
    .BlogSidebar {
        display: flex;
    }
    .BlogEntryBottom {
        flex-direction: row;

    }
    .BlogGallery {
        border: 0;
        max-height: 250px;
        width: auto;
        align-self: flex-start;
    }
}

/* 80 characters = 640 pixels = 40 rem this should be the max width for text*/

