    <!-- Navigation and header -->


    <ul class="menu align-middle menu-large-screen">
      <li class="nav-left nav-side uppercase">
        <ul class="menu align-right">
          <li><a href="design.php" class="nav-link">Design</a></li>
          <li><a href="gardening.php" class="nav-link">Maintenance</a></li>
          <li><a href="/blog/index.php" class="nav-link">Blog</a></li>
        </ul>
      </li>
      <li class="menu nav-center-logo align-center"><a href="index.php"><img src="assets/img/square-logo.svg" alt="This is a square logo for Erin Norman Gardens, Landscape Designer from Bellingham, WA"/></a></li>
      <li class="nav-right nav-side uppercase">
        <ul class="menu align-left">
          <li><a href="contact.php" class="nav-link">Contact</a></li>
          <li><a href="about.php" class="nav-link is-active">About</a></li>
          <li><a href="employment.php" class="nav-link">Employment</a></li>
        </ul>
      </li>
    </ul>
      
<!--Hero with overlay wrapper -->
        <div class="grid-x">
          <div class="small-12 cell hero hero-bottom-margin">
            <!--hero wrapper has two children, div with textual content, and the image -->
            <div class="small-12 cell hero-text hero-text-single-title text-center align-self-bottom">
              <h1>About</h1>
            </div>
              <figure>
               <div class="loader-hero">
                  <object data="assets/img/salal-blossoms-south-hill-bellingham-2x.jpg" type="image/jpeg" alt="Pieris japonica ‘Valley Valentine’ in the South Hill neighborhood of Bellingham, WA."></object>
                  <img class="hero-image frozen" src="assets/img/salal-blossoms-south-hill-bellingham-1x.png" alt="Pieris japonica ‘Valley Valentine’ in the South Hill neighborhood of Bellingham, WA." aria-hidden="true"/>
                </div>
            </figure>
          </div>
        </div>
    <!--End of hero with overlay wrapper -->
    
      <div class="grid-x cell text-center heading lowercase">
        <h2 class="cell small-4">Garden Design</h2>
        <h2 class="cell small-4">Maintenance</h2>
        <h2 class="cell small-4">Bellingham</h2>
      </div>
    
      <div class="grid-x">
        <div class="cell small-12">
          <p>A garden is a special and dynamic space, where people and nature come together and exert a mutual influence. I am passionate about gardening.</p>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-7 large-8">
          <p>I’ve spent more than ten years working professionally as a <a href="/gardening.php"><strong>gardener</strong></a> and <strong>horticulturalist</strong>, in both the public and private sector. Most of that time has been spent in the Pacific Northwest, and over the years I’ve developed a repertoire of skills and knowledge specific to the challenges and opportunities presented by our wet winters, dry summers, often heavy clay soil, and local wildlife. I believe that gardens should be both beautiful and <strong>sustainable</strong>, and I adhere to an ethic of responsible land stewardship in both my <a href="/design.php">design</a> and <a href="/gardening.php">maintenance</a> practices.</p>
        </div>
        <div class="cell small-12 medium-5 large-4 align-self-middle">
          <div class="picture-wrapper-in-line-with-text landscape">
            <figure>
              <div class="loader">
                <object data="assets/img/blossoming-salal-hedge-2x.jpg" type="image/jpeg" alt="A blossoming hedge in the Southside area of Bellingham, WA"></object>
                <img src="assets/img/blossoming-salal-hedge-1x.png" alt="A blossoming hedge in the Southside area of Bellingham, WA" class="frozen" aria-hidden="true" />
              </div>
            </figure>
            <div class="caption">
              <span>Erica carnea (unknown variety)</span>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-5 large-4 align-self-middle small-order-2 medium-order-1">
          <div class="picture-wrapper-in-line-with-text landscape">
            <figure>
              <div class="loader">
                <object data="assets/img/large-leaf-closeup-2x.jpg" type="image/jpeg" alt="A closeup of the leaf of this herbaceous perennial."></object>
                <img src="assets/img/large-leaf-closeup-1x.png" alt="A closeup of the leaf of this herbaceous perennial." class="frozen" aria-hidden="true" />
              </div>
            </figure>
            <div class="caption">
              <span>Podophyllum peltatum</span>
            </div>
          </div>
        </div>
        <div class="cell small-12 medium-7 large-8 small-order-1 medium-order-2">
          <p>My goal is to work with you to determine your needs and preferences, and to create a <a href="/design.php">design</a> or <a href="/gardening.php">maintenance</a> plan with which you’ll be entirely satisfied. Whether your project is as complex as planning and installing an entirely new garden, or as simple as adding a few <strong>planted containers</strong> or <strong>vegetable garden</strong> to your existing <strong>landscape</strong>, I will be there to see it through.</p>
          <p>Ready to get to work? Click the button below to send Erin a message and get your project started.</p>
        </div>
      </div>


        <div class="grid-x" id="main-content-section" data-magellan-target="main-content-section">
          <div class="cell small-12 text-center">
              <button class="button lowercase button-contact button-contact-about" data-open="consultation-reveal">Contact Erin</button>
          </div>
        </div>