     <!-- Navigation and header -->

	 <ul class="menu align-middle menu-large-screen">
		<li class="nav-left nav-side uppercase">
		  <ul class="menu align-right">
			<li><a href="design.php" class="nav-link">Design</a></li>
			<li><a href="gardening.php" class="nav-link">Maintenance</a></li>
			<li><a href="/blog/index.php" class="nav-link is-active">Blog</a></li>
		  </ul>
		</li>
		<li class="menu nav-center-logo align-center"><a href="index.php"><img src="assets/img/square-logo.svg" alt="This is a square logo for Erin Norman Gardens, Landscape Designer from Bellingham, WA"/></a></li>
		<li class="nav-right nav-side uppercase">
		  <ul class="menu align-left">
			<li><a href="contact.php" class="nav-link">Contact</a></li>
			<li><a href="about.php" class="nav-link">About</a></li>
			<li><a href="employment.php" class="nav-link">Employment</a></li>
		  </ul>
		</li>
	  </ul>

<!--Hero with overlay wrapper -->
    <div class="grid-x">
      <div class="small-12 cell hero hero-bottom-margin">
        <!--hero wrapper has two children, div with textual content, and the image -->
        <div class="small-12 cell hero-text hero-text-single-title text-center align-self-bottom">
          <h1>Blog</h1>
        </div>
			<div class="figure">
              <div class="loader-hero">
                <object data="/assets/img/gardening-blog-succulents-2x.jpg" type="image/jpeg"></object>
                <img class="hero-image frozen" src="/assets/img/gardening-blog-succulents-1x.png" alt=""/>
              </div>
        </div>
      </div>
    </div>
<!--End of hero with overlay wrapper -->

    <div class="blog-list">
		<div class="hfeed listing">
			<div class="grid-y blog-entry align-center align-middle">
				<div class="cell blog-image">
			        <a href="#"><img src="/assets/img/garden-plant-bud.jpg" alt="" class=""></a>
				</div>
				<div class="cell small-2 text-center blog-entry-date">
					<span>Mar 29</span>
				</div>
				<div class="cell small-2 text-center blog-entry-title">
					<h3><a href="#">Fall garden tasks: Cutting back perennials</a></h3>
				</div>
				<div class="cell-small-3 blog-entry-excerpt">
		            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvinar risus dolor, non efficitur erat ultrices eget. Vestibulum porttitor leo eget tellus euismod auctor. Sed porta cursus dolor. Duis aliquet auctor est vitae pharetra. Sed porta nulla quis tortor dignissim consequat. Sed semper turpis et nulla lobortis suscipit.</p>
				</div>
			</div>
		</div>
		<div class="hfeed listing">
			<div class="grid-y blog-entry align-center align-middle">
				<div class="cell blog-image">
			        <a href="#"><img src="/assets/img/teasel-w300h300.jpg" alt="" class=""></a>
				</div>
				<div class="cell small-2 text-center blog-entry-date">
					<span>Oct 13</span>
				</div>
				<div class="cell small-2 text-center blog-entry-title">
					<h3><a href="#">Going Gold: Letting Your Lawn Hibernate in the Summer</a></h3>
				</div>
				<div class="cell-small-3 blog-entry-excerpt">
		            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvinar risus dolor, non efficitur erat ultrices eget. Vestibulum porttitor leo eget tellus euismod auctor. Sed porta cursus dolor. Duis aliquet auctor est vitae pharetra. Sed porta nulla quis tortor dignissim consequat. Sed semper turpis et nulla lobortis suscipit.</p>
				</div>
			</div>
		</div>
		   
    </div>

