    <!-- Navigation and header -->

    <ul class="menu align-middle menu-large-screen">
      <li class="nav-left nav-side uppercase">
        <ul class="menu align-right">
          <li><a href="design.php" class="nav-link">Design</a></li>
          <li><a href="gardening.php" class="nav-link">Maintenance</a></li>
          <li><a href="/blog/index.php" class="nav-link">Blog</a></li>
        </ul>
      </li>
      <li class="menu nav-center-logo align-center"><a href="index.php"><img src="assets/img/square-logo.svg" alt="This is a square logo for Erin Norman Gardens, Landscape Designer from Bellingham, WA"/></a></li>
      <li class="nav-right nav-side uppercase">
        <ul class="menu align-left">
          <li><a href="contact.php" class="nav-link is-active">Contact</a></li>
          <li><a href="about.php" class="nav-link">About</a></li>
          <li><a href="employment.php" class="nav-link">Employment</a></li>
        </ul>
      </li>
    </ul>

      <!--Hero with overlay wrapper -->
        <div class="grid-x">
          <div class="small-12 cell hero hero-bottom-margin">
            <!--hero wrapper has two children, div with textual content, and the image -->
            <div class="small-12 cell hero-text hero-text-single-title text-center align-self-bottom">
              <h1>Contact</h1>
            </div>
          <figure>
            <div class="loader-hero">
              <object data="assets/img/flowerbed-garden-design-2x.jpg" type="image/jpeg" alt="Lilac (unknown variety) in a Bellingham garden."></object>
              <img class="hero-image" src="assets/img/flowerbed-garden-design-1x.png" alt="Lilac (unknown variety) in a Bellingham garden." class="frozen" />
            </div>
          </figure>            
          </div>
        </div>
    <!--End of hero with overlay wrapper -->
    
      <div class="grid-x">
        <div class="cell small-12">
          <p>I work out of Bellingham, WA and serve the Bellingham metropolitan area. I am passionate about all things gardens and botany and would love to talk to you about your garden. If you are not certain whether your home would benefit from a professional design, drop me a line to schedule a free consultation.</p>
        </div>
        <div class="cell small-12 medium-6">
          <p>E-mail: <a href="mailto:erin@erinnormangardens.com">erin@erinnormangardens.com</a></p>
          <p>Call or text: <a href="tel:+1-206-366-5914">206-366-5914</a>.</p>
          <p>Find me on <a href="http://www.yelp.com/biz/erin-norman-gardens-bellingham">Yelp</a> and <a href="http://instagram.com/gardener_erin">Instagram</a>.</p>
        </div>
        <div class="cell small-12 medium-6 align-self-middle ">
          <div id="main-content-section" data-magellan-target="main-content-section">
            <div class="text-center">
              <button class="button lowercase button-contact button-contact-contact" data-open="consultation-reveal">Contact Erin</button>
            </div>
          </div>
        </div>
      </div>
    
      <div class="grid-x grid-padding-x">
          <div class="cell small-12 medium-6 next-door-image">
            <div class="picture-wrapper">
              <figure>
                <div class="loader">
                  <object data="assets/img/blossom-closeup-2x.jpg" alt="Taken from a flower garden in Bellingham." type="image/jpeg"></object>
                  <img src="assets/img/blossom-closeup-1x.png" alt="Taken from a flower garden in Bellingham." class="frozen">
                </div>
              </figure>
              <div class="caption">
                <span>Unknown</span>
              </div>
            </div>
          </div>
          <div class="cell small-12 medium-6 next-door-image">
            <div class="picture-wrapper">
              <figure>
                <div class="loader">
                  <object data="assets/img/garden-plant-bud-2x.jpg" type="image/jpeg"></object>
                  <img src="assets/img/garden-plant-bud-1x.png" alt="Bud on shrub plant in Happy Valley garden." class="frozen" />
                </div>
              </figure>
              <div class="caption">
                <span>Aucuba japonica</span>
              </div>
            </div>
          </div>
        </div>
    
        <br />