    <!-- Navigation and header -->

    <ul class="menu align-middle menu-large-screen">
      <li class="nav-left nav-side uppercase">
        <ul class="menu align-right">
          <li><a href="design.php" class="nav-link is-active">Design</a></li>
          <li><a href="gardening.php" class="nav-link">Maintenance</a></li>
          <li><a href="/blog/index.php" class="nav-link">Blog</a></li>
        </ul>
      </li>
      <li class="menu nav-center-logo align-center"><a href="index.php"><img src="assets/img/square-logo.svg" alt="This is a square logo for Erin Norman Gardens, Landscape Designer from Bellingham, WA"/></a></li>
      <li class="nav-right nav-side uppercase">
        <ul class="menu align-left">
          <li><a href="contact.php" class="nav-link">Contact</a></li>
          <li><a href="about.php" class="nav-link">About</a></li>
          <li><a href="employment.php" class="nav-link">Employment</a></li>
        </ul>
      </li>
    </ul>

      <!--Hero with overlay wrapper -->
        <div class="grid-x">
          <div class="small-12 cell hero hero-bottom-margin">
            <!--hero wrapper has two children, div with textual content, and the image -->
            <div class="small-12 cell hero-text hero-text-single-title text-center align-self-bottom">
              <h1>Design</h1>
            </div>
          <figure>
            <div class="loader-hero">
              <object data="assets/img/bellingham-landscape-design-2x.jpg" type="image/jpeg" alt="A sample landscape design created for a garden design client in Bellingham, WA."></object>
              <img class="hero-image frozen" src="assets/img/bellingham-landscape-design-1x.png" alt="A sample landscape design created for a garden design client in Bellingham, WA." aria-hidden="true" />
            </div>
          </figure>
          </div>
        </div>
    <!--End of hero with overlay wrapper -->
    
        <div class="grid-x text-center heading lowercase">
          <h2 class="cell small-4">Garden Design</h2><h2 class="cell small-4">Landscape Design</h2><h2 class="cell small-4">Bellingham</h2>
        </div>
    
    <!-- primary content for design page -->    
    
        <div class="grid-x">
          <div class="cell small-12">
            <p>My design specialty is the <strong>ecological garden</strong>, which combines the art of the traditional <strong>flower garden</strong>, the sustenance of the <strong>edible landscape</strong>, and the increasingly crucial habitat provided by the <strong>wildlife garden</strong>. Not limited to beds and landscapes, I also have a wealth of experience with <strong>container gardening</strong> and the versatility <strong>raised garden beds</strong> and other containers offer the home gardener.</p>
          </div>
        </div>
    
         <div class="grid-x grid-padding-x">
          <div class="cell small-12 medium-6 next-door-image">
            <div class="picture-wrapper">
              <img src="assets/img/flower-garden.jpg" alt="Narcissus (unknown variety), Daffodil in a client's garden in Sudden Valley, WA." />
              <div class="caption">
                <span>Narcissus (unknown variety), Daffodil</span>
              </div>
            </div>
          </div>
          <div class="cell small-12 medium-6 next-door-image">
            <div class="picture-wrapper">
              <img src="assets/img/container-gardening.jpg" alt="Closeup image of Euphorbia ‘Ascot Rainbow’, Spurge" />
              <div class="caption">
                <span>Euphorbia ‘Ascot Rainbow’, Spurge</span>
              </div>
            </div>
          </div>
        </div>
    
        <div class="grid-x">
          <div class="cell small-12">
            <p>My experience in <strong>garden design</strong> is broad, from corporate campuses to <strong>home gardens</strong>, no project is too big or small. Whether your project is as complex as planning and installing an entirely new garden, or as simple as adding a few <strong>planted containers</strong> or <strong>vegetable garden</strong> to your existing <strong>landscape</strong>, I will be there to see it through. While my specialty centers around <a href="http://whatcom.wsu.edu/ch/sustainable.html">sustainable landscaping</a> my goal is to work with you to determine your needs and preferences, and to create a design or maintenance plan with which you’ll be entirely satisfied.</p>
          </div>
        </div>
    
         <div class="grid-x">
          <div class="cell small-12">
            <div class="picture-wrapper">
              <img src="assets/img/landscape-design.jpg" alt="A highlight from an implemented landscape design in Sudden Valley, WA">
              <div class="caption">
                <span>Spiraea japonica ‘Walbuma’ Magic Carpet in the left foreground, Hellebore (unknown variety), Primula Belarina ‘Amethyst Ice’</span>
              </div>
            </div>
          </div>
        </div>
    
        <div class="grid-x">
          <div class="cell small-12">
            <p>I can design your <strong>garden</strong> and let you implement the installation, or I can contract and supervise the creation of your <strong>garden</strong> at a competitive rate. <a href="contact.php">Contact</a> me to schedule a free consultation and learn how an expert design will benefit your <strong>garden</strong>.</p>
          </div>
        </div>

        <div class="grid-x" id="main-content-section" data-magellan-target="main-content-section">
          <div class="cell small-12 text-center">
              <button class="button lowercase button-contact button-contact-design" data-open="consultation-reveal">Contact Erin</button>
          </div>
        </div>
    
    
         <div class="grid-x grid-padding-x">
          <div class="cell small-12 medium-6">
            <div class="picture-wrapper">
              <img src="assets/img/flowers-blooming.jpg" alt="As a garden designer I use natural beauty of flowers to add color." />
              <div class="caption">
                <span>Rhododendron (unknown variety)</span> 
              </div>
            </div>
          </div>
          <div class="cell small-12 medium-6">
            <div class="picture-wrapper">
              <img src="assets/img/garden-plants.jpg" alt="Closeup image of a garden plant blooming." />
              <div class="caption">
                <span>Lilac (unknown variety)</span>
              </div>
            </div>
          </div>
        </div>
    
        <br>