    <!-- Navigation and header -->

    <ul class="menu align-middle menu-large-screen">
        <li class="nav-left nav-side uppercase">
          <ul class="menu align-right">
            <li><a href="design.php" class="nav-link">Design</a></li>
            <li><a href="gardening.php" class="nav-link">Maintenance</a></li>
            <li><a href="/blog/index.php" class="nav-link">Blog</a></li>
          </ul>
        </li>
        <li class="menu nav-center-logo align-center"><a href="index.php"><img src="assets/img/square-logo.svg" alt="This is a square logo for Erin Norman Gardens, Landscape Designer from Bellingham, WA"/></a></li>
        <li class="nav-right nav-side uppercase">
          <ul class="menu align-left">
            <li><a href="contact.php" class="nav-link">Contact</a></li>
            <li><a href="about.php" class="nav-link">About</a></li>
            <li><a href="employment.php" class="nav-link is-active">Employment</a></li>
          </ul>
        </li>
      </ul>

      <!--Hero with overlay wrapper -->
        <div class="grid-x">
          <div class="small-12 cell hero hero-bottom-margin">
            <!--hero wrapper has two children, div with textual content, and the image -->
            <div class="small-12 cell hero-text hero-text-single-title text-center align-self-bottom">
              <h1>Employment</h1>
            </div>
          <figure>
            <div class="loader-hero">
              <object data="assets/img/whatcom-county-gardener-spring-flower-2x.jpg" type="image/jpeg" alt=""></object>
              <img class="hero-image" src="assets/img/whatcom-county-gardener-spring-flower-1x.png" alt="" class="frozen" />
            </div>
          </figure>            
          </div>
        </div>
    <!--End of hero with overlay wrapper -->
    
      <div class="grid-x">
        <!--[if IE]> Garden maintenance crew lead job listing<![endif]-->
        <div class="cell small-12 job-listing ">
          <h2>Garden maintenance crew lead</h2>
          <p>Work with an experienced horticulturalist in Bellingham and surrounding areas.</p>
          <h3>Core capabilities:</h3>
          <ol>            
            <li>Responsibility and dependability</li>
            <li>Customer and quality focus</li>
            <li>Excellent communication skills (both verbal and written)</li>
            <li>Independent problem solving skills</li>
            <li>Ethics and integrity</li>
          </ol>
          <h3>Job duties:</h3>
          <ol>
            <li>Manage the execution of garden installation and maintenance projects, anticipating labor and equipment requirements</li>
            <li>Supervise and lead a crew of 1-2 employees OR work independently, as needed</li>
            <li>Keep inventory of all tools, and perform maintenance as needed</li>
            <li>General garden clean up; weeding, raking, deadheading, debris removal</li>
            <li>Move and install soil, plant material and mulch</li>
            <li>Prune trees and shrubs</li>
            <li>Use both hand and power tools</li>
            <li>Integrated pest management: Identify plants suffering from pests and/or disease, apply appropriate method of control (I use least-toxic controls)</li>
            <li>Install and maintain drip irrigation</li>
            <li>Some lawn care</li>
          </ol>
          <h3>Requirements:</h3>
          <ol>
            <li>Minimum 2 years experience in the landscape industry</li>
            <li>Physically fit with strong stamina</li>
            <li>Knowledge of plant identification and care, and/or a willingness to learn</li>
            <li>Valid driver’s license</li>
            <li>Carry and use a smart phone or other data-enabled device for communication and reporting</li>
            <li>Experience with irrigation installation and maintenance is a plus</li>
          </ol>
          <p>Flexible hours with some weekend work, 30-40 hours a week, probably more as the season progresses.  Be prepared to work in all weather conditions and on lots of different kinds of terrain.  This can be a very physically strenuous job.  Wages depend on experience.  <a href="mailto:erin@erinnormangardens.com">Please email me </a> your resume, with the job title in the subject line. Thanks!</p>
        </div>


        <div class="grid-x grid-padding-x">
          <div class="cell small-12 medium-6 next-door-image">
            <div class="picture-wrapper">
              <figure>
                <div class="loader">
                  <object data="assets/img/containter-gardening-pot-yellow-flowers-2x.jpg" alt="" type="image/jpeg"></object>
                  <img src="assets/img/containter-gardening-pot-yellow-flowers-1x.png" alt="" class="frozen">
                </div>
              </figure>
              <div class="caption">
                <span></span>
              </div>
            </div>
          </div>
          <div class="cell small-12 medium-6 next-door-image">
            <div class="picture-wrapper">
              <figure>
                <div class="loader">
                  <object data="assets/img/whatcom-county-bellingham-gardener-job-listing-2x.jpg" type="image/jpeg"></object>
                  <img src="assets/img/whatcom-county-bellingham-gardener-job-listing-1x.png" alt="" class="frozen" />
                </div>
              </figure>
              <div class="caption">
                <span></span>
              </div>
            </div>
          </div>
        </div>
    
        <!--[if IE]>Garden maintenance crew member job listing<![endif]-->
        <div class="cell small-12 job-listing job-listing-2">
          <h2>Garden maintenance crew member, part time</h2>
          <p>Work with an experienced horticulturalist in Bellingham and surrounding areas.</p>
          <h3>Core capabilities:</h3>
          <ol>
            <li>Responsibility and dependability</li>
            <li>Customer and quality focus</li>
            <li>Excellent communication skills</li>
            <li>Independent problem solving skills</li>
            <li>Ethics and integrity</li>
          </ol>
          <h3>Job duties:</h3>
          <ol>
            <li>General garden clean up; weeding, raking, mulching, deadheading, etc.</li>
            <li>Pruning trees and shrubs</li>
            <li>Use both hand and power tools</li>
            <li>Integrated pest management: Identify plants suffering from pests and/or disease, apply appropriate method of control (I use least-toxic controls)</li>
            <li>Install and maintain drip irrigation</li>
            <li>Some lawn care</li>
          </ol>
          <h3>Requirements:</h3>
          <ol>
            <li>Physically fit with strong stamina</li>
            <li>Knowledge of plant identification and care, and/or a willingness to learn</li>
            <li>Valid driver’s license</li>
            <li>Carry and use a smart phone or other data-enabled device for communication and reporting</li>
          </ol>
          <p>Flexible hours with some weekend work, 20 hours a week, probably more as the season progresses.  Be prepared to work in all weather conditions and on lots of different kinds of terrain.  This can be a very physically strenuous job.  Wages depend on experience.  <a href="mailto:erin@erinnormangardens.com">Please email me</a> your resume, with the job title in the subject line. Thanks!</p>
        </div>
    
      <div class="grid-x grid-padding-x">
          <div class="cell small-12 medium-6 next-door-image">
            <div class="picture-wrapper">
              <figure>
                <div class="loader">
                  <object data="assets/img/whatcom-county-landscape-design-2x.jpg" alt="" type="image/jpeg"></object>
                  <img src="assets/img/whatcom-county-landscape-design-1x.png" alt="" class="frozen">
                </div>
              </figure>
              <div class="caption">
                <span></span>
              </div>
            </div>
          </div>
          <div class="cell small-12 medium-6 next-door-image">
            <div class="picture-wrapper">
              <figure>
                <div class="loader">
                  <object data="assets/img/bellingham-gardener-red-blossom-2x.jpg" type="image/jpeg"></object>
                  <img src="assets/img/bellingham-gardener-red-blossom-1x.png" alt="" class="frozen" />
                </div>
              </figure>
              <div class="caption">
                <span></span>
              </div>
            </div>
          </div>
        </div>

      </div>


        <br />