    <!-- Navigation and header -->

    <ul class="menu align-middle menu-large-screen">
      <li class="nav-left nav-side uppercase">
        <ul class="menu align-right">
          <li><a href="design.php" class="nav-link">Design</a></li>
          <li><a href="gardening.php" class="nav-link is-active">Maintenance</a></li>
          <li><a href="/blog/index.php" class="nav-link">Blog</a></li>
        </ul>
      </li>
      <li class="menu nav-center-logo align-center"><a href="index.php"><img src="assets/img/square-logo.svg" alt="This is a square logo for Erin Norman Gardens, Landscape Designer from Bellingham, WA"/></a></li>
      <li class="nav-right nav-side uppercase">
        <ul class="menu align-left">
          <li><a href="contact.php" class="nav-link">Contact</a></li>
          <li><a href="about.php" class="nav-link">About</a></li>
          <li><a href="employment.php" class="nav-link">Employment</a></li>
        </ul>
      </li>
    </ul>

    <!--Hero with overlay wrapper -->
        <div class="grid-x">
          <div class="small-12 cell hero hero-bottom-margin">
            <!--hero wrapper has two children, div with textual content, and the image -->
            <div class="small-12 cell hero-text hero-text-single-title text-center align-self-bottom">
              <h1>Maintenance</h1>
            </div>
            <figure>
              <div class="loader-hero">
                <object data="assets/img/bellingham-gardening-2x.jpg" type="image/jpeg" alt="A closeup of Primula Belarina ‘Amethyst Ice’ in a container garden in Bellingham, WA."></object>
                <img class="hero-image frozen" src="assets/img/bellingham-gardening-1x.png" alt="A closeup of Primula Belarina ‘Amethyst Ice’ in a container garden in Bellingham, WA." aria-hidden="true" />
              </div>
            </figure>
          </div>
        </div>
    <!--End of hero with overlay wrapper -->
    
        <div class="grid-x text-center heading lowercase">
          <h2 class="cell small-12">Sustainable Gardening for the Pacific Northwest</h2>
        </div>
    
        <div class="grid-x cell"><p>I’ve developed my maintenance practices by combining the science of <strong>horticulture</strong> and <strong>ecology</strong> with the artistry of <strong>garden design</strong>. I have the knowledge and experience to get the most from your garden, depending on your specific needs.</p></div>
    
        <div class="grid-x grid-padding-x">
          <div class="cell small-12 medium-6 next-door-image">
            <div class="picture-wrapper">
              <img src="assets/img/whatcom-perennial-bedded-plant.jpg" alt="A perennial plant in Whatcom county, Washington" />
              <div class="caption">
                <span>Ligularia dentata ‘Desdemona’</span>
              </div>
          </div>
          </div>
          <div class="cell small-12 medium-6 next-door-image">
            <div class="picture-wrapper">
              <img src="assets/img/perennial-gardening.jpg" alt="A perennial plant budding." />
              <div class="caption">
                <span>Aucuba japonica</span>
              </div>
            </div>
          </div>
        </div>
    
        <div class="grid-x cell">
          <p>The following is a brief description of my maintenance services:</p>
            <ul class="maintenance-list">
              <li>General care for mixed borders of herbaceous perennials, annuals, and bulbs; planting, weeding, mulching, and fertilizing/composting</li>
              <li>Woody shrub and tree care; pruning for optimal health and beauty, as well as greater production in fruiting trees and shrubs</li>
              <li>Seasonal container planting and care</li>
              <li>Vegetable and herb gardens; installation, weeding, fertilizing, harvesting, and pest management</li>
          </ul>
        </div>
    
        <div class="grid-x grid-padding-x">
          <div class="cell small-12 medium-6 next-door-image">
            <div class="picture-wrapper">
              <img src="assets/img/permaculture-garden-design.jpg" alt="A deciduous shrub in Whatcom county, Washington" />
              <div class="caption">
                <span>Viburnum plicatum tomentosum ‘Mariesii’</span>
              </div>
          </div>
          </div>
          <div class="cell small-12 medium-6 next-door-image">
            <div class="picture-wrapper">
              <img src="assets/img/seasonal-garden-maintenance.jpg" alt="." />
              <div class="caption">
                <span>Spiraea japonica ‘Walbuma’ Magic Carpet, Primula Belarina ‘Amethyst Ice’</span>
              </div>
            </div>
          </div>
        </div>
    
        <div class="grid-x cell">
          <p>Many of my clients <strong>garden</strong> on a daily basis, some every once in a while, and others do not work in the yard at all. They all benefit from my expert <strong>gardening</strong> and loving care. No matter how much time you spend <a href="/contact.php">reach out</a> to me to discuss your needs and how I can tend to your <strong>garden</strong>.</p>
        </div>

        <div class="grid-x" id="main-content-section" data-magellan-target="main-content-section">
          <div class="cell small-12 text-center">
              <button class="button lowercase button-contact button-contact-gardening" data-open="consultation-reveal">Contact Erin</button>
          </div>
        </div>
