    <!-- Navigation and header -->

      <ul class="menu align-middle menu-large-screen">
        <li class="nav-left nav-side uppercase">
          <ul class="menu align-right">
            <li><a href="design.php" class="nav-link">Design</a></li>
            <li><a href="gardening.php" class="nav-link">Maintenance</a></li>
            <li><a href="/blog/index.php" class="nav-link">Blog</a></li>
          </ul>
        </li>
        <li class="menu nav-center-logo align-center"><a href="index.php"><img src="assets/img/square-logo.svg" alt="This is a square logo for Erin Norman Gardens, Landscape Designer from Bellingham, WA"/></a></li>
        <li class="nav-right nav-side uppercase">
          <ul class="menu align-left">
            <li><a href="contact.php" class="nav-link">Contact</a></li>
            <li><a href="about.php" class="nav-link">About</a></li>
            <li><a href="employment.php" class="nav-link">Employment</a></li>
          </ul>
        </li>
      </ul>

      <!--Hero with overlay wrapper -->
        <div class="grid-x">
          <div class="small-12 cell hero hero-bottom-margin">
            <!--hero wrapper has two children, div with textual content, and the image -->
            <div class="small-12 cell hero-text hero-text-index text-center align-self-bottom">
              <h1>Erin Norman Gardens</h1>
              <a class="button lowercase" href="design.php">Design</a>
              <a class="button lowercase" href="gardening.php">Maintenance</a>
            </div>
            <figure>
              <div class="loader">
                <object data="assets/img/homepage-hero-2x.jpg" type="image/jpeg"></object>
                <img class="hero-image frozen" src="assets/img/homepage-hero-1x.png" alt="Hero image for Bellingham, WA gardener and garden designer." />
              </div>
            </figure>
          </div>
        </div>
    <!--End of hero with overlay wrapper -->
    
        <div class="grid-x text-center heading">
          <h2 class="cell small-4">gardening</h2><h2 class="cell small-4">landscape design</h2><h2 class="cell small-4">bellingham</h2>
        </div>
    
    <!-- primary content of homepage -->    
     
        <div class="grid-x" id="main-content-section" data-magellan-target="main-content-section">
          <div class="cell small-12 text-center">
              <button class="button lowercase button-contact" data-open="consultation-reveal">Contact Erin</button>
          </div>
        </div>

         <div class="grid-x">
          <div class="cell small-12">
            <p>Welcome to the website of Erin Norman Gardens, located in <strong>Bellingham</strong>, WA. With over ten years of experience as a <a href="gardening.php">gardener</a> and <a href="design.php">garden designer</a> in the Pacific Northwest, I have the skills and knowledge to address the challenges and opportunities our region offers. To learn more about how your family’s <strong>garden</strong> and <strong>landscape</strong> would benefit from my service choose a link above.</p>
          </div>
        </div>

        <div class="grid-x grid-padding-x">
          <div class="cell small-12 medium-7 large-8">
            <p>I use <a href="gardening.php">organic gardening</a> practices as much as possible as I believe a garden should not just be beautiful, but <strong>sustainable</strong>. In addition to general care <a href="gardening.php#maintenanceList">gardening</a> I am adept with <strong>tree care</strong>: pruning for optimal health and fruit production. As a <strong>horticulturalist</strong> I am skilled with <strong>container gardening</strong> as well as <strong>vegetable</strong> and <strong>herb gardens</strong>. <a href="mailto:erin@erinnormangardens.com">Send me</a> a e-mail, or <a href="contact.php">contact</a> me to schedule an appointment to learn how your home’s <strong>landscape</strong> can improve from my experience and loving touch.</p>
          </div>
          <div class="cell small-12 medium-5 large-4 align-self-middle">
            <div class="picture-wrapper-in-line-with-text">
              <figure>
                <div class="loader">
                  <object data="assets/img/vendovi-island-succulents-2x.jpg" type="image/jpeg"></object>
                  <img src="assets/img/vendovi-island-succulents-1x.png" alt="Regional succulent plants" class="frozen"/>
                </div>
              </figure>
              <div class="caption">
                <span>Sedum (unknown species)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-x grid-padding-x">
           <div class="cell small-12 medium-5 large-4 align-self-middle small-order-2 medium-order-1">
            <div class="picture-wrapper-in-line-with-text">
              <figure>
                <div class="loader">
                  <object data="assets/img/humming-bird-feeding-on-vine-2x.jpg" type="image/jpeg"></object>
                  <img src="assets/img/humming-bird-feeding-on-vine-1x.png" alt="Humming bird enjoying wildlife habitat" class="frozen"/>
                </div>
              </figure>
              <div class="caption">
                <span>Lonicera (unknown species), Honeysuckle</span>
              </div>
            </div>
          </div>
          <div class="cell small-12 medium-7 large-8 small-order-1 medium-order-2">
            <p>As a <a href="design.php">garden designer</a> many clients seek to maximize the aesthetics of their <strong>garden</strong> while minimizing their environment impact. To achieve this I follow the principles of <strong>permaculture</strong>. Not ready for a full <strong>landscape</strong> re-design? I can help you add a <strong>flower garden</strong>, create a <strong>vegetable garden</strong>, or add any manner of <strong>planted containers</strong>. Many clients reach out to me to simply discuss the best choices for new <strong>garden plants</strong>. My <a href="design.php#DesignPhilo">garden design</a> is steeped in botany and expertise of our Pacific Northwest region. <a href="mailto:erin@erinnormangardens.com">E-mail me</a> or <a data-open="consultation-reveal">send me a message</a> to take the first step in upgrading your <strong>landscape design</strong>.</p>
          </div>
        </div>


         <div class="grid-x">
          <div class="cell small-12 small-order-2 medium-order-1">
            <div class="picture-wrapper-in-line-with-text">
              <figure>
                <div class="loader">
                  <object data="assets/img/blooming-tree-2x.jpg" type="image/jpeg"></object>
                  <img class="frozen" src="assets/img/blooming-tree-1x.png" alt="A tree blooming in the spring in the South Hill neighborhood of Bellingham, WA">
                </div>
              </figure>
              <div class="caption">
                <span>Magnolia x soulangeana, Saucer Magnolia in the South Hill Neighborhood</span>
              </div>
            </div>
          </div>
          <div class="cell quote small-order-1 medium-order-2"><p><em>A garden is a special and dynamic space, where people and nature come together and exert a mutual influence.</em></p></div>
    
        </div>
    
    
    <!--end of primary content of homepage --> 
