{{!-- This is the base layout for your project, and will be used on every page. --}}
<?php include('perch/runtime.php'); ?>

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5WTVP2Z');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erin Norman Gardens | Garden Designer | Gardener | Horticulturalist</title>
    <meta name="description" content="Bellingham garden designer, gardener. Upgrade landscape with garden design and maintenance steeped in botany, permaculture, and horticulture.">
    <link href="assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="https://use.typekit.net/tkl2jus.css">
    <link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen" />
    <link rel="canonical" href="https://erinnormangardens.com/about.php" />
    </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WTVP2Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
   
<!-- sticky navigation back to top bottom -->
    <a href="#" class="back-to-top" style="display: inline;" aria-label="Scroll back to top">
    <i class="fa fa-angle-up"></i>
    </a>

<!-- this wrapper limits the width of the content on wide displays -->
    <div class="grid-container outer-box-frame">


    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

<!-- Start of footer -->
      <div class="footer">
        <div class="social-media-wrapper">
            <a href="http://www.COB.org" class="BellinghamFlag">
                <img src="assets/img/BellinghamFlag.svg" alt="Bellingham WA Flag">
            </a>
            <div class="phone-number">
                <b><a href="tel:+1-206-366-5914">206-366-5914</a></b>
            </div>
            <a class="social-item" href="http://www.yelp.com/biz/erin-norman-gardens-bellingham" title="Visit on Yelp" target="_blank">
                <img src="assets/img/Yelp.svg" alt="Yelp logo">
            </a>
            <a class="social-item" href="http://instagram.com/gardener_erin" title="Check out our Instagram" target="_blank">
                <img src="assets/img/Instagram.svg" alt="Instagram logo">
            </a>
        </div>
        <br>
        <div class="grid-x align-center">
            <div class="madrona-powered">powered by <a href="https://madronaweb.com"><span class="madrona-bottom"><svg version="1.1" id="Madrona_Triangles" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
           y="0px" viewBox="0 0 157.3 89.1" style="enable-background:new 0 0 157.3 89.1; xml:space="preserve" aria-labelledby="madrona-logo-title madrona-logo-desc">
                  <title id="madrona-logo-title">Madrona Web Logo</title>
                  <desc id="madrona-logo-desc">Logo for Madrona Web, a Bellingham Web Design Studio</desc>
                  <path class="st0" d="M0,0h32.9L22.2,40.2C19.5,50.5,17,60.1,15.7,68h-0.2c-1.4-7.7-3.6-17.7-5.9-27.7L0,0z"/>
                  <path class="st0" d="M82.5,0L72,40.2c-2.5,10-4.8,18.9-6.4,27.7h-0.2c-1.2-8.5-3.3-18-5.6-27.5L50,0H82.5z"/>
                  <path class="st0" d="M132.1,0l-10.5,40.2c-2.5,10-4.8,18.9-6.4,27.7H115c-1.2-8.5-3.3-18-5.6-27.5L99.6,0H132.1z"/>
                  <path class="st0" d="M157.3,89.1h-32.9L135,48.9c2.7-10.3,5.2-19.9,6.5-27.8h0.2c1.4,7.7,3.6,17.7,5.9,27.7L157.3,89.1z"/>
                  <path class="st0" d="M74.8,89.1l10.5-40.2c2.5-10,4.8-18.9,6.4-27.7H92c1.2,8.5,3.3,18,5.6,27.5l9.7,40.5L74.8,89.1L74.8,89.1z"/>
                  <path class="st0" d="M25.2,89.1l10.5-40.2c2.5-10,4.8-18.9,6.4-27.7h0.2c1.2,8.5,3.3,18,5.6,27.5l9.7,40.5L25.2,89.1L25.2,89.1z"/>
                </svg></span></a></div>
        </div>
        <div class="green-wrapper">
            <a class="green-shade-1"></a>
            <a class="green-shade-2"></a>
            <a class="green-shade-3"></a>
            <a class="green-shade-4"></a>
            <a class="green-shade-5"></a>
        </div>
      </div>
  <!-- End of footer -->
  </div>
  <!-- closing of grid-container-->


        <div class="reveal consult" id="consultation-reveal" data-reveal>
                  <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                  </button>
          <div class="reveal-frame-outer">
            <div class="reveal-frame-inner">
              <div class="hero-consult grid-x align-bottom">
                <div class="cell hero-consult-text text-center">
                  <h1>contact us</h1>
                </div>
                <img src="assets/img/gardener-form-flower.jpg" alt="Flower from a client's garden" class="hero-consult-image">
              </div>
              <div class="grid-y">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                  <form data-abide action="https://madronaweb.us19.list-manage.com/subscribe/post?u=4c78ee911963de46d42853fcd&amp;id=80f94cc590" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div data-abide-error class="alert callout" style="display: none;">
                      <p><i class="fi-alert"></i> There are some errors in your request.</p>
                    </div>
                    <div id="mc_embed_signup_scroll">
                      <div class="grid-x grid-margin-x form-half-1">
                        <div class="cell small-12 medium-6">
                          <div class="mc-field-group">
                            <label for="mce-FNAME">First Name </label>
                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME" required pattern="text">
                            <span class="form-error">
                              I'm sorry, I didn't catch your first name.
                            </span>
                          </div>
                        </div>
                        <div class="cell small-12 medium-6">
                          <div class="mc-field-group">
                            <label for="mce-LNAME">Last Name </label>
                            <input type="text" value="" name="LNAME" class="" id="mce-LNAME" required pattern="text">
                            <span class="form-error">
                              I'm sorry, I didn't catch your last name.
                            </span>                
                          </div>
                        </div>
                      </div>
                      <div class="grid-x grid-margin-x form-half-2">
                        <div class="cell small-12 medium-6">
                          <div class="mc-field-group size1of2">
                            <label for="mce-PHONE">Phone Number </label>
                            <input type="text" name="PHONE" class="required" value="" id="mce-PHONE" required pattern="text">
                            <span class="form-error">
                              Please include your phone number.
                            </span>                
                          </div>
                        </div>
                        <div class="cell small-12 medium-6">
                          <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address  </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required pattern="email">
                            <span class="form-error">
                              Double check your email address.
                            </span>                       
                          </div>
                        </div>
                      </div>
                      <div class="mc-field-group">
                        <label for="mce-DETAILS">How can we help? </label>
                        <textarea type="text" value="" name="DETAILS" class="required details-text" id="mce-DETAILS" required pattern="text"></textarea>
                        <span class="form-error">
                          Tell us a little bit about what's going on.
                        </span>       
                      </div>
                      <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4c78ee911963de46d42853fcd_80f94cc590" tabindex="-1" value=""></div>
                      <div class="clear text-center">
                        <button type="submit" value="submit" name="subscribe" id="mc-embedded-subscribe" class="button button-contact-submit"><span>submit</span></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
                  <!--End mc_embed_signup-->

    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>